@use 'sass:map';

@use '../../utils/breakpoints' as bp;

.content {
  padding-top: 40px;

  // // breakpoints
  // // only sm
  // @include bp.only(sm) {
  // }

  // // only md
  // @include bp.only(md) {
  // }

  // only lg
  @include bp.only(lg) {
    padding-top: 45px;
  }

  // only xl
  @include bp.only(xl) {
    padding-top: 50px;
  }

  // only xxl
  @include bp.only(xxl) {
    padding-top: 80px;
  }
  // end breakpoints
}
