@font-face {
    font-family: "icons";
    src: url("./icons.eot?0929b9857085d2039188ae96f9037436#iefix") format("embedded-opentype"),
url("./icons.woff2?0929b9857085d2039188ae96f9037436") format("woff2"),
url("./icons.woff?0929b9857085d2039188ae96f9037436") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linux:before {
    content: "\f101";
    font-size: 50px;
    color: brown;
}
