@font-face {
  font-family: 'icons';
  src:
    url('./icons.ttf?e10e5f331a87a91985a98c0ec2eba353') format('truetype'),
    url('./icons.woff?e10e5f331a87a91985a98c0ec2eba353') format('woff'),
    url('./icons.woff2?e10e5f331a87a91985a98c0ec2eba353') format('woff2');
}

i[class^='icon-']:before,
i[class*=' icon-']:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-socials-yt:before {
  content: '\f101';
}
.icon-socials-in:before {
  content: '\f102';
}
.icon-socials-fb:before {
  content: '\f103';
}
