<footer class='footer g'>
  <div class='container'>
    <ul class='footer-socials'>
      <li class='item'>
        <i class='icon icon-socials-yt'></i>
      </li>

      <li class='item'>
        <i class='icon icon-socials-in'></i>
      </li>

      <li class='item'>
        <i class='icon icon-socials-fb'></i>
      </li>
    </ul>
  </div>
</footer>