<!-- === start: footer === -->
<footer class='footer g'>
  <div class='container'>
    <div class='g-footer'>
      <div class='item'>
        <div class='footer-copyright'>
          <span class='copy'>&copy;</span>
          <span class='year'>2026</span>
          <span class='separator'>|</span>
          <span class='name'>vite</span>
          <span class='separator'>|</span>
          <span class='protection'>All rights reserved</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- === end: footer === -->