<header class="g header">
    <div class="container">
        <div class="b-header">
            <a href="/" class="logo-link">logo</a>

            <div class="menu">
                <nav class="main-nav">
                    <ul class="main-menu">
                        <li class="item">
                            <a href="" class="link">Home</a>
                        </li>

                        <li class="item">
                            <a href="" class="link">About</a>
                        </li>

                        <li class="item">
                            <a href="" class="link">Contacts</a>
                        </li>
                    </ul>
                </nav>

                <div class="mobile-nav">
                    <div class="mobile-menu-btn">
                        <div class="container">
                            <div class="line first"></div>
                            <div class="line center"></div>
                            <div class="line last"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>