<!-- === start: header === -->
<header class='header-fixed'>
  <div class='container'>
    <div class='header g'>
      <div class='container'>
        <div class='g-header'>
          <a href='/' class='logo-link'>vite</a>

          <div class='menu'>
            <nav class='main-nav'>
              <ul class='main-menu'>
                <li class='item'>
                  <a href='./about.html' class='link'>About</a>
                </li>

                <li class='item'>
                  <a href='./services.html' class='link'>Services</a>
                </li>

                <li class='item'>
                  <a href='./blog.html' class='link'>Blog</a>
                </li>

                <li class='item'>
                  <a href='./tutorials.html' class='link'>Tutorials</a>
                </li>

                <li class='item'>
                  <a href='./contacts.html' class='link'>Contacts</a>
                </li>
              </ul>
            </nav>

            <div class='mobile-menu'>
              <div class='mobile-menu-btn'>
                <div class='container'>
                  <div class='line top'></div>
                  <div class='line center'></div>
                  <div class='line bottom'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- === end: header === -->