@use './icons';

/* Inter Regular Latin */
@font-face {
  font-family: 'f101';
  src: url('@fontsource/inter/files/inter-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF;
}

/* Inter Regular Cyrillic */
@font-face {
  font-family: 'f101';
  src: url('@fontsource/inter/files/inter-cyrillic-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0400-04FF;
}

/* Overpass Regular Latin */
@font-face {
  font-family: 'f102';
  src: url('@fontsource/overpass/files/overpass-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF; /* Latin */
}

/* Overpass Regular Cyrillic */
@font-face {
  font-family: 'f102';
  src: url('@fontsource/overpass/files/overpass-cyrillic-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0400-04FF; /* Cyrillic */
}
