body{
    background-color: #232323;
  
    .website{
      width: 85%;
      margin: 0 auto;
    }
  }

  .header{
    background: url('./img/header/bg/header.jpg');
  }

  .main{
    color: #fff;
  }

  .footer{
    color: #fff;
    font-family: 'LostinWild';
  }

  .copy{
    padding-top: 25px;
    color: #fff;
    text-align: center;
    font-family: 'Aliens';
  }

  .header{
    padding: 25px 0;
    text-align: center;

    .logo{
      color: red;
      font-family: 'LostinWild';
      font-size: 12px;
    }
  }

  .slider{

    img{
      display: block;
      width: 250px;
      height: auto;
    }
  }

  .menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
  }